<nz-table #filterTable [nzData]="displayData" [nzPageSize]="15">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr style="font-weight: 900;">
      <th>No</th>
      <th nzShowSort nzSortKey="username">Name</th>
      <th nzShowSort nzSortKey="contactNumber">Contact Number</th>
      <th nzShowSort nzSortKey="questionState">Questions Solved</th>
      <th nzShowSort nzSortKey="points">Points</th>
      <th>Unused Coupons</th>
      <th>Used Coupons</th>
      <th>Total Coupons</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data; let i = index">
      <td><b>{{i + 1}}</b></td>
      <td>{{data.username}}</td>
      <td>{{data.contactNumber}}</td>
      <td>{{data.questionState}}</td>
      <td>{{data.points}}</td>
      <td style="color: green;">{{data.earnedTickets.length}}</td>
      <td style="color: red;">{{data.ticketMapping ? data.ticketMapping.length : 0}}</td>
      <td>{{data.earnedTickets.length + data?.ticketMapping?.length}}</td>
      <td>
        <button nz-button nzTitle="Delete User" nzType="danger" nz-tooltip style="margin-right: 5px" (click)="deleteUser(data.contactNumber)"><i
            class="anticon anticon-delete"></i></button>
        <button nz-button nzType="default" nzTitle="View User Coupons" nz-tooltip (click)="viewUser(data)"><i class="anticon anticon-eye-o"></i></button>
      </td>
    </tr>
  </tbody>
</nz-table>


<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="isVisibleMiddle" nzTitle="{{userDetail?.username}}'s Coupons:"
  (nzOnCancel)="handleOkUser()" (nzOnOk)="handleOkUser()">
  <h3>Unused Coupons:</h3>
  <p *ngFor="let coupon of userDetail?.earnedTickets">{{coupon}}</p>
  <br>
  <h3>Used Coupons:</h3>
  <p *ngFor="let coupon of userDetail?.ticketMapping"> <b>{{coupon?.ticketNo}}</b> : {{coupon?.assignDate | date:
    'medium'}}</p>
</nz-modal>