.logo {
  width: 235px;
  height: 31px;
  /* background: rgba(255,255,255,.2); */
  /* margin: 16px 24px 16px 0; */
  float: left;
}

.title {
  color: white;
  font-weight: 900;
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}