<nz-layout class="layout">
  <nz-header style="width:100%">
    <div class="logo title">Admin Panel Lucky Draw - JJ111</div>
    <!-- <h2 class="title">Admin Panel Lucky Draw - JJ111</h2> -->
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>Users</li>
      <li nz-menu-item>Draw</li>
    </ul>
  </nz-header>
  <nz-content style="padding:0 10px; background-color: white;">
    <nz-table #filterTable [nzData]="displayData" [nzPageSize]="15">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr style="font-weight: 900;">
          <th>No</th>
          <th nzShowSort nzSortKey="username">Name</th>
          <th nzShowSort nzSortKey="contactNumber">Contact Number</th>
          <th nzShowSort nzSortKey="questionState">Questions Solved</th>
          <th nzShowSort nzSortKey="points">Points</th>
          <th>Unused Coupons</th>
          <th>Used Coupons</th>
          <th>Total Coupons</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filterTable.data; let i = index">
          <td><b>{{i + 1}}</b></td>
          <td>{{data.username}}</td>
          <td>{{data.contactNumber}}</td>
          <td>{{data.questionState}}</td>
          <td>{{data.points}}</td>
          <td style="color: green;">{{data.earnedTickets.length}}</td>
          <td style="color: red;">{{data.ticketMapping ? data.ticketMapping.length : 0}}</td>
          <td>{{data.earnedTickets.length + data?.ticketMapping?.length}}</td>
          <td>
            <button nz-button nzTitle="Delete User" nzType="danger" nz-tooltip style="margin-right: 5px" (click)="deleteUser(data.contactNumber)"><i
                class="anticon anticon-delete"></i></button>
            <button nz-button nzType="default" nzTitle="View User Coupons" nz-tooltip (click)="viewUser(data)"><i class="anticon anticon-eye-o"></i></button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" nzTitle="{{userDetail?.username}}'s Coupons:"
  (nzOnCancel)="handleOkUser()" (nzOnOk)="handleOkUser()">
  <h3>Unused Coupons:</h3>
  <p *ngFor="let coupon of userDetail?.earnedTickets">{{coupon}}</p>
  <br>
  <h3>Used Coupons:</h3>
  <p *ngFor="let coupon of userDetail?.ticketMapping"> <b>{{coupon?.ticketNo}}</b> : {{coupon?.assignDate | date:
    'medium'}}</p>
</nz-modal>