<nz-layout class="layout">
  <nz-header style="width:100%">
    <div class="logo title">Admin Panel Lucky Draw - JJ111</div>
    <!-- <h2 class="title">Admin Panel Lucky Draw - JJ111</h2> -->
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item [nzSelected]="tab == 'users'" (click)="goTo('users')">Users</li>
      <li nz-menu-item [nzSelected]="tab == 'draws'" (click)="goTo('draws')">Draw</li>
      <li nz-menu-item [nzSelected]="tab == 'notification'" (click)="goTo('notification')">Notification</li>
      <button nz-button nzType="danger" style="float: right; margin-top: 15px;" (click)="logOut()"><i class="anticon anticon-logout"></i> Logout</button>
    </ul>
  </nz-header>
  <nz-content style="padding:0 10px; background-color: white;">
    <app-users *ngIf="tab == 'users'"></app-users>
    <app-draws *ngIf="tab == 'draws'"></app-draws>
    <app-notification *ngIf="tab == 'notification'"></app-notification>
  </nz-content>
</nz-layout>